

.le-clip-path{
    text-align: center;
    img{
        width: 900px;
        clip-path: circle(30%);
    }
    .polly{
        background-color: aqua;
        width: 200px;
        height: 100px;
        clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
        margin: 0 auto;
    }
}